@charset "ISO-8859-1";
body {
    padding-top: 90px;
}

.container input[type="text"],
.container input[type="password"],
.container input[type="email"]
{
    height: 45px;
    border: 1px solid #aaa3a3;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.container input:hover,
.container input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #000000;
}

.container .btn-login {
    background-color: #ffffff;
    outline: none;
    color: #3598f4;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #aaa3a3
}

.container .btn-login:hover,
.container .btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}

.container .btn-register {
	background-color: #ffffff;
    outline: none;
    color: #3598f4;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #aaa3a3;
}

.container .btn-register:hover,
.container .btn-register:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}

.panel-login {
	max-width: auto; 
    margin: 0 auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
}
.panel-login>.panel-heading {
	color: rgb(255, 255, 255);
	background-color: #ffffff;
	border-color: #ffffff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #53A3CD;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
}